@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url(https://fonts.googleapis.com/css?family=Karla);

html,body {
	height: 100%;
	background-color: white;
	margin: 0;
	font-family: 'Karla', sans-serif;
    /*font-family: 'Manjari', sans-serif;*/
}

.by {
	padding-right: 5%;
	font-size: 10px;
	text-transform: uppercase;
}

p, h1, h2, h3, h4, h5, h8 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h2, h3, .info {
	font-size: 10px;
	text-transform: uppercase;
}

h4 {
	margin-top: 2%;
	font-size: 15px;
	text-transform: uppercase;
}

h5 {
	font-size: 8px;
	margin-bottom: 5%;
}

h8 {
	font-size: 15px;
	font-weight: bold;
    text-transform: uppercase;
}

a:link, a:visited {
	text-decoration: none;
	color:black;
}

.gridTable {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 10% repeat(6, 1fr);
	grid-auto-flow: row;
    align-items: stretch;
    justify-content: space-evenly;
}

.handdrawnbox {
	border-collapse: separate !important;
	border: 2px solid #444340;
	border-bottom-left-radius: 20px 150px;
	border-bottom-right-radius: 225px 20px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	padding: 5px 5px 5px 5px;
}

.tableHeader {
    text-align: center;
    font-weight: bold;
}

.inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.room, .time {
	align-self: flex-start;
	width: 100%;
}

.room {
	font-style: italic;
	font-size: smaller;
	vertical-align: text-top;
}

.subject {
	font-weight: bold;
}

.popover-body {
    border-collapse: separate !important;
    border: 2px solid #444340;
    border-bottom-left-radius: 20px 150px;
    border-bottom-right-radius: 225px 20px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;

    padding: 5px 5px 5px 5px;
    background-color: hotpink;
    color: white;
}

a.special {
	color: hotpink;
}

a.aPopover {
	color: white;
}

a.special:hover, a.aPopover:hover {
	border-collapse: separate !important;
	border-bottom: 1px solid white;
	border-bottom-left-radius: 20px 0px;
	border-bottom-right-radius: 225px 20px;
}

a.aPopover:hover {
	color: black;
}

a:hover {
	color: hotpink;
}

a.special:hover {
	color: black;
}

.container {
	height: 100%;
	width: 70%;
	margin: 0 auto;
    background-color: white;
}

.infoContainer{
	display: inline;
}

.ver {
	font-size: 10px;
}

.table1, .table2, .table3 {
	padding-top: 5%;
	width: 100%;
	text-align: center;
	table-layout: fixed;
	word-wrap: break-word;
	border-collapse: collapse;
	border-collapse: separate !important;
}

/* name says it all */

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

  }

.input {
	position: absolute;
	opacity: 0;
}

.label {
	width: auto;
	padding: 0px 10px;
	color: black;
 }

.label:hover {
	color: hotpink;
}

.input:focus + .label {
	z-index: 1;
}

.input:checked + .label {
	background: hotpink;
    color: white !important;
}

.panel {
	order: 99;
	display: none;
	width: 100%;
	margin: 0 auto;
    background: #fff;
}

.customize, .theme, .toggleImg {
	display: inline;
	float: right;
}

.icon {
	padding: 0 5px 0 5px;
}

.theme {
	padding: 0 5px 0 5px;
}

.input:checked + .label + .panel {
    display: block;
}

/* ribbon */

.ribbon {
	top: 25px;
	left: -50px;
    width: 200px;
}

.ribbon.bottom-right{
	top: auto;
	right: -50px;
	bottom: 25px;
	left: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transition-property: all; 
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.ribbon.posiFixed {
	position: fixed;
	text-align: center;
	color: white;
}

.ribbon.hotpink {
    background: hotpink;
}

.hideDiv {
	display: none;
}

.icon {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

@media screen and (max-width: 900px) {

	.gridTable {
	  display: unset;
	}
  
	.tableHeader {
	  margin: 25px 0 10px 0;
	}

	.container {
		width: 90%;
	}
}